# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

/.continue
/config.json

# TUTTO ciò che è modello pesante
/models/**/*.onnx
/models/**/*.xml
/models/**/*.bin
/models/**/*.pt
/models/**/*.pth
/models/**/*.tflite
/models/**/*.{zip,tar,tar.gz,7z}

# Mantieni le directory e i file segnaposto/testo
!models/**/
!models/**/.gitkeep
!models/**/README.md
!models/manifest.json
/dev_temp
/logs